<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvin Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
</head>
<body>
<div class="ui grid container">
    <div class="row">
        <div class="sixteen wide column">
            <h1 class="ui dark header">
                🤖 Marvin
                <span class="ui sub header">Log in</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="twelve wide column">
            <form class="ui form {{if .error}}error{{end}}" method="post" action="/auth">
                {{if .error}}
                        <div class="ui error message">
                            {{.error}}
                        </div>
                {{end}}
                <div class="field">
                    <label for="password">Enter password</label>
                    <input type="password" id="password" name="password" value="{{.password}}">
                </div>
                <input type="hidden" name="next" value="{{.next}}"/>
                <button class="ui primary button" type="submit">Log In</button>
            </form>
        </div>
        <div class="four wide column">
            <div class="ui message">
                <h2 class="header">Forgot your password?</h2>
                <p>If you have access to the server, run <code class="code">$ marvin set_password</code> to change the password. Otherwise, ask the server administrator to do so.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>